<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <meta name="csrf-token" content="{{ csrf_token() }}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

</head>

<body style="background-color: rgb(119, 194, 76);">
  <div style="display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center;color: rgb(255, 0, 0); font-weight: 800;" class="mb-4 py-4">
      <h1>Simple Student Information System</h1>
    </div>
    <div style="display: flex; justify-content: flex-end; align-items: flex-end; width: 55vw;">
      <div>
        {% if 'user' in session %}
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          {% else %}
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          {% endif %}
      </div>
      <div></div>
    </div>
  </div>

  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        <div class="alert alert-info flash-message" role="alert" id="flash-message">
          {% for category, message in messages %}
            {% if category == 'info' %}
              <p>{{ message }}</p>
            {% elif category == 'success' %}
              <p class="text-success">{{ message }}</p>
            {% elif category == 'danger' %}
              <p class="text-danger">{{ message }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5 py-0" style="margin: auto;width: 90%;height: 50%;">
    <div class="container-fluid" style="background-color: rgb(127, 208, 255);">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/student">Students</a></li>
              <li><a class="dropdown-item" href="/course">Courses</a></li>
              <li><a class="dropdown-item" href="/college">Colleges</a></li>
            </ul>
          </li>
          {% block button %}{% endblock %}
        </ul>
        {% block search %}{% endblock %}
      </div>
    </div>
  </nav>

  <!-- Content Block -->
  <div class="mb-2 py-2" style="display: flex; justify-content: center; align-items: center; color: black; font-size: 30px; font-weight: 500;">
    {% block subtitle %}{% endblock %}
  </div>

  {% block content %}{% endblock %}
  
  {% block scripts %}{% endblock %}
</body>

</html>
